<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Login</h1>
    {% if error %}
    <div class="error">
        <p>{{ error }}</p>
    </div>
    {% endif %}

    {% if already_logged_in %}
    <div class="success">
        <p>{{ already_logged_in }}</p>
        <div class="button">
            <a href="{{ url_for('dashboard') }}">Go back to dashboard.</a>
        </div>
    </div>
    {% endif %}


    <form method="post">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>
        
        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>